<!DOCTYPE html>
<html
    lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Email</title>
    </head>
    <body>
        <div>Event name is: <b th:text="${event.eventName}"></b></div>
        <div>
            eventDescription is: <b th:text="${event.eventDescription}"></b>
        </div>
        <div>date is: <b th:text="${event.date}"></b></div>
        <div>Reminder before is: <b th:text="${event.reminderDays}"></b></div>
    </body>
</html>

{% comment %} To iterate through array:
https://www.baeldung.com/thymeleaf-arrays {% endcomment %}
